<!--<pre ng-bind="data.debug">world</pre>-->

<div class="row">

    <div class="col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mileage this month</h3>
            </div>
            <div class="panel-body">
                <div>
                    <canvas 
                        id="barMonthSummary" 
                        class="chart chart-bar"
                        style="width:100%;height:400px;" 
                        chart-data="model.data.monthSummaryChartData.data"
                        chart-labels="model.data.monthSummaryChartData.labels"
                        chart-series="model.data.monthSummaryChartData.series"
                        chart-colours="model.data.monthSummaryChartData.colors"></canvas>
                </div>
                <div>
                    <div class='label label-default' ng-repeat="r in model.data.riders" ng-attr-style="background-color:{{r.color_code}}" >{{r.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Summary for {{currentYear.year}}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                        <tr>
                            <th>Rider</th>
                            <th>month</th>
                            <th>year</th>
                            <th>unpaid</th>
                            <th>total</th>
                        </tr>
                        <tr ng-repeat="r in model.data.riderSummary">
                            <td>{{r.rider}}</td>
                            <td>{{r.monthDistance}}</td>
                            <td>{{r.yearDistance}}</td>
                            <td>{{r.cashUnpaid}}</td>
                            <td>{{r.cashYear}}</td>
                        </tr>
                </table>

                <table class="table table-striped">
                    <tr>
                        <th>Recent rides</th>
                        <th>count</th>
                        <th>distance</th>
                    </tr>
                    <tr ng-repeat="rs in model.data.routeSummary | orderBy:'rides':true | limitTo:5">
                        <td>{{rs.name}}</td>
                        <td>{{rs.rides}}</td>
                        <td>{{rs.totalDistance}}</td>
                    </tr>
                </table>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Year summary</h3>
            </div>
            <div class="panel-body">
                <div>
                    <canvas 
                        id="barYearSummary" 
                        class="chart chart-bar"
                        style="width:100%;height:400px;"
                        chart-data="model.data.yearSummaryChartData.data"
                        chart-labels="model.data.yearSummaryChartData.labels"
                        chart-series="model.data.yearSummaryChartData.series"
                        chart-colours="model.data.yearSummaryChartData.colors"></canvas>
                </div>
                <div>
                    <div class='label label-default' ng-repeat="r in model.data.riders" ng-attr-style="background-color:{{r.color_code}}">{{r.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

