
<h2>Rides</h2>

<div class="panel">
    <button type="button" class="btn btn-primary" ng-click="add()">Add Ride</button>
</div>

<table class="table table-striped">
    <tr>
        <th>Route</th>
        <th>Rider</th>
        <th>Date</th>
        <th>Distance</th>
        <th>Reward</th>
        <th>Bike</th>
        <th>Notes</th>
    </tr>
    <tr ng-repeat="ride in data.rides">
        <td><a ui-sref="rideEdit({id: ride.id})">{{ride.route}}</a></td>
        <td>{{ride.rider}}</td>
        <td>{{ride.ride_date | date: 'dd/MM/yyyy'}}</td>
        <td>{{ride.distance}}</td>
        <td>{{ride.reward.toFixed(2)}}</td>
        <td>{{ride.bike}}</td>
        <td>{{ride.notes}}</td>
    </tr>
</table>