<h3 ng-hide="rider.id">Add Rider</h3>
<h3 ng-show="rider.id">Edit Rider</h3>


<form class="form-horizontal" role="form" ng-submit="saveForm()">

    <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input type="text" ng-model="rider.name" class="form-control" id="name" placeholder="Name of rider" />
    </div>

    <div class="form-group">
        <label for="rate" class="control-label">Rate</label>
        <input type="text" ng-model="rider.rate" class="form-control" id="rate" placeholder="Rate in pence per mile" />
    </div>

    <div class="form-group">
        <label for="chartColorSelect" class="control-label">Chart Color</label>
        <select id="chartColorSelect" ng-model="rider.color_code" style="background-color:{{rider.color_code}}" class="form-control">
            <option ng-repeat="c in model.data.chartColors"style="background-color:{{c}}">{{c}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="branchSelect" class="control-label">Bank Branch</label>
        <select id="branchSelect" ng-model="rider.bank_branch_id" ng-options="branch.id as branch.name for branch in branches" class="form-control"></select>
    </div>

    <div class="form-group">
        <label for="customerSelect" class="control-label">Bank Customer</label>
        <select id="customerSelect" ng-model="rider.bank_customer_id" ng-options="cust.id as cust.name for cust in customers" class="form-control"></select>
    </div>

    <div class="form-group">
        <label for="accountSelect" class="control-label">Bank Account</label>
        <select id="accountSelect" ng-model="rider.bank_account_id" ng-options="account.id as account.name for account in accounts" class="form-control"></select>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" name="save" value="Save" />
        <input type="button" class="btn btn-primary" name="cancel" value="Cancel" ng-click="cancel()" />
        <input type="button" class="btn btn-primary" name="pwd" value="Set Password" ng-click="setPwd()" ng-show="rider.id" />
        <input type="button" class="btn btn-primary" name="cancel" value="Delete" ng-click="delete()" ng-show="rider.id" />
    </div>

</form>
