@model AdminVM
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>Admin</h2>

@using (Html.BeginForm("Command", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <button type="submit" class="btn btn-default" name="command" value="pay">Pay into bank</button>
        <button type="submit" class="btn btn-default" name="command" value="cancel">Exit Admin</button>
    </div>

}

<h3>Payments</h3>
<table class="table">
    <thead>
        <tr>
            <th>Recipient</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Payment payment in Model.payments)
        {
            <tr>
                <td>@payment.rider</td>
                <td>@payment.created_date.ToString("ddd dd MMM yyyy")</td>
                <td>@payment.amount.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>



