@model AppVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Source="width=device-width" />
    <title>Bikes</title>

    @if (Bikes.App.BikesDebug.debug)
    {
        /******************************* DEVELOPMENT ******************************************/

        <link rel="stylesheet" type="text/css" href="~/Source/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Source/bootstrap/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Source/datepicker/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Source/angular-ui-grid/ui-grid.min.css" />

        //TO DO: get this off bower for local use
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.min.css">

        <script src="~/Source/jquery/jquery-1.9.1.min.js"></script>
        <script src="~/Source/bootstrap/scripts/bootstrap.min.js"></script>
        <script src="~/Source/datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/Source/angular/angular.min.js"></script>
        <script src="~/Source/angular-resource/angular-resource.min.js"></script>
        <script src="~/Source/angular-ui-router/angular-ui-router.min.js"></script>
        <script src="~/Source/angular-ui-grid/ui-grid.min.js"></script>
        <script src="~/Source/moment/moment.min.js"></script>
        <script src="~/Source/jinqjs/jinqjs.min.js"></script>

        <script src="~/Source/chartjs/Chart.min.js"></script>

        //TO DO: get this off bower for local use
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.min.js"></script>


        <script src="~/Source/app/app.js"></script>
        <script src="~/Source/app/bike-services.js"></script>
        <script src="~/Source/app/bike.js"></script>
        <script src="~/Source/app/rider.js"></script>
        <script src="~/Source/app/route.js"></script>
        <script src="~/Source/app/ride.js"></script>
        <script src="~/Source/app/home.js"></script>
        <script src="~/Source/app/payment.js"></script>
        <script src="~/Source/app/analysis.js"></script>
        <script src="~/Source/app/user.js"></script>
        <script src="~/Source/app/fiddle.js"></script>
    }
    else
    {
        /******************************* PRODUCTION ******************************************/

        //CDN hosted           
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.5/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jinq/1.5.10/jinqjs.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.min.js"></script>
        
        //locally hosted
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css" />
        <script src="~/Content/bikes.min.js"></script>
    }

    <script>
        angular.module('bikesApp')
            .service('currentUser', function () {
                this.riderId = @Model.currentRiderId;
                this.name = '@Model.currentRiderName';
            });
    </script>

</head>

<body ng-app="bikesApp">

    <!-- MAIN MENU -->
    <nav class="navbar navbar-static-top @(Bikes.Model.ModelConfig.connectionName() == "live" ? "navbar-inverse" : "")">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Drurys Bikes</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="userHome">@Model.currentRiderName</a></li>
                    <li><a ui-sref="rideList">Rides</a></li>
                    <li><a ui-sref="analysis">Analysis</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="bikeList">Bikes</a></li>
                            <li><a ui-sref="riderList">Riders</a></li>
                            <li><a ui-sref="routeList">Routes</a></li>
                            <li><a ui-sref="paymentList">Payments</a></li>
                         @*   <li><a ui-sref="fiddle">Fiddle</a></li>*@
                        </ul>
                    </li>
                    <li><a href="/login/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN Source -->
    <div class="container">

        <div ui-view></div>

    </div>
</body>
</html>
