
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section HEAD {
    <style type="text/css">
        .panel-body div {
            margin: 10px;
        }
        .panel-body td {
            padding-left: 10px;
        }
    </style>

    <script src="~/Content/chartjs/Chart.min.js" ></script>
    
    <script>


        $(function () {

            var addTableCells = function (data, selector) {
                var i,j;
                var tr,tbody;

                tbody = $(selector);

                for (i = 0; i < data.labels.length; i++) {
                    tr = $("<tr></tr>").appendTo(tbody);
                    //name
                    $("<td></td>")
                        .html(data.labels[i])
                        .appendTo(tr);
                    //recent mileage
                    $("<td class='text-right'></td>")
                        .html(data.datasets[0].data[i])
                        .appendTo(tr);
                    //yearly mileage
                    $("<td class='text-right'>0</td>")
                        .appendTo(tr);
                    //amount earned
                    $("<td class='text-right'>&pound;&nbsp;0</td>")
                        .appendTo(tr);
                }
            };

            $.get(
                "/api/RiderSummary",
                function (data) {

                    if (data.labels.length == 0) {
                        //draw a placeholder message
                        $("#barRiderDistance").css("display", "none");
                        $("#barRiderDistancePlaceholder").css("display", "block");
                    } else {
                        var ctx = $("#barRiderDistance").get(0).getContext("2d");
                        new Chart(ctx).Bar(data, { responsive: true, maintainAspectRatio: false });
                    }
                    addTableCells(data, "#riderSummaryRows");
                },
                "json");

            $.get(
                "/api/YearSummary",
                function (data) {
                    var options = {
                        responsive: true,
                        maintainAspectRatio: false,
                        multiTooltipTemplate: "<%=datasetLabel%> <%=value%>"
                };
                    var ctx = $("#barYearSummary").get(0).getContext("2d");
                    new Chart(ctx).Bar(data, options);
                },
                "json");

        });
    </script>
}

<div class="row">

    <div class="col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent mileage</h3>
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="barRiderDistance" style="width:100%;height:400px;"></canvas>
                    <div id="barRiderDistancePlaceholder" style="display:none;">
                        No rides to display
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Summary</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Recent Mileage</th>
                            <th>Year Mileage</th>
                            <th>Amount outstanding</th>
                        </tr>
                    </thead>
                    <tbody id="riderSummaryRows"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mileage by month</h3>
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="barYearSummary" style="width:100%;height:400px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

