<h3>Welcome {{currentUser.name}}</h3>

<!--<pre ng-bind="jsonx">world</pre>-->

<dl class="dl-horizontal">
    <dt>Distance this month</dt>
    <dd>{{summary.monthDistance}}</dd>
    <dt>Distance this year</dt>
    <dd>{{summary.yearDistance}}</dd>
    <dt>Cash unpaid</dt>
    <dd>{{summary.cashUnpaid}}</dd>
    <dt>Cash paid this year</dt>
    <dd>{{summary.cashYear}}</dd>
</dl>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Year summary</h3>
    </div>

    <div class="panel-body">
        <div>
            <canvas id="barYearSummary" style="width:100%;height:400px;"></canvas>
        </div>
        <div>
            <div class='label label-default' ng-repeat="d in yearSummary.chartData.datasets" style="background-color:{{d.fillColor}}">{{d.label}}</div>
        </div>
    </div>
</div>

<h3>{{currentUser.name}}'s Rides <button type="button" class="btn btn-primary" ng-click="addRide()">Add Ride</button></h3>

<table class="table table-striped">
    <tr>
        <th>Route</th>
        <th>Rider</th>
        <th>Date</th>
        <th>Distance</th>
        <th>Reward</th>
        <th>Bike</th>
        <th>Notes</th>
    </tr>
    <tr ng-repeat="ride in currentUserRides">
        <td><a ui-sref="rideEdit({id: ride.id})">{{ride.route}}</a></td>
        <td>{{ride.rider}}</td>
        <td>{{ride.ride_date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ride.distance}}</td>
        <td>{{ride.reward.toFixed(2)}}</td>
        <td>{{ride.bike}}</td>
        <td>{{ride.notes}}</td>
    </tr>
</table>
