@model BikeVM
@{
    ViewBag.Title = "Drurys Bikes - Edit Bike";

    Layout = "~/Views/_MainLayout.cshtml";
}

<div class="page-header">
    <h2>Edit Bike</h2>
</div>

@using (Html.BeginForm("Command", "Bike"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.EditorFor(m => m.name, 
            new
            {
                htmlAttributes = (Model.id == Bikes.Model.Bike.DefaultId ?
                            (object)new { @class = "form-control", @readonly = "readonly" } :
                            (object)new { @class = "form-control" })
            })


    </div>

    <div class="form-group">
        @Html.HiddenFor(m => m.id)
        <button type="submit" class="btn btn-default" name="command" value="save">Submit</button>
        <button type="submit" class="btn btn-default" name="command" value="cancel">Cancel</button>
        <button type="submit" class="btn btn-default" name="command" value="delete" onclick="return confirm('Are you sure you want to delete this item?')">Remove</button>
    </div>
}
