<?xml version="1.0"?>

  <appSettings>

      <!-- Added by Nuget etc -->
      <add key="webpages:Version" value="3.0.0.0"/>
      <add key="webpages:Enabled" value="false"/>
      <add key="PreserveLoginUrl" value="true"/>
      <add key="ClientValidationEnabled" value="true"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

      <!-- which set of connection strings to use - "live", "test", "local" or "clunie" -->
      <add key="connection" value="live"/>

      <!-- output debug info - true/false -->
      <add key="debug" value="false"/>
  
  </appSettings>
