@model List<Bikes.Model.Route>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section HEAD {
    <script>
        $(function () {
            $("#btnAdd").click(function () {
                location.href = '@Url.Action("Add")';
            });
        });
    </script>
}

<div class="page-header">
    <h2>Routes</h2>
</div>

<ul class="list-group">
    @foreach (Bikes.Model.Route route in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(route.name, "Edit", new { id = route.id } )
        </li>
    }
</ul>
<button id="btnAdd" type="button" class="btn btn-default">Add Route</button>
